@font-face {
            font-family: 'Bahnschrift';
            src: url('fonts/BAHNSCHRIFT.TTF'),
        }

        body {
            background: #07283f !important;
            font-family: 'Roboto', sans-serif;
            ;
            color: white;
            line-height: 1.5;
        }

        p {
            text-align: justify;
        }

        blockquote {
            color: rgba(230, 230, 230, .75);
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 100;
            margin: 25px 50px 0px 50px;
            text-align: justify;
            padding: .5em 1em;
            border-radius: 5px;
            border-left: 3px solid rgba(230, 230, 230, .75);
        }

        cite {
            text-align: right;
            font-weight: 100;
            font-size: .75em;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 25px;
            padding-right: 75px;
            display: block;
            font-style: normal;
        }

        mark {
            line-height: 1.5em;
        }

        header {
            opacity: 0;
            transition: opacity 2.0s 0.5s ease-out;
        }

        header.is-visible {
            opacity: 1;
        }
        
        div#question1 {
            opacity: 0;
            transition: opacity 2.0s 0.5s ease-out;
        }
        
        div#question1.is-visible{
            opacity: 1;
        }
        
        span#question2 {
            opacity: 0;
            transition: opacity 2.0s 0.5s ease-out;
        }
        
        span#question2.is-visible{
            opacity: 1;
        }

        div#title-img-container {
            height: 67vh;
            background-color: #07283f !important;
        }


        img#meteor-measure {
            width: 50%;
            top: 4%;
            left: 22%;
            position: absolute;
            opacity: 0;
        }

        img#meteor-measure.is-visible {
            animation-name: meteor-measure-rotate, meteor-measure-opacity-change;
            animation-duration: 2s, 2s;
            animation-timing-function: ease-in-out, linear;
            opacity: 1;
        }


        @keyframes meteor-measure-rotate {
            from {
                transform: rotate(180deg);
            }
            to {
                transform: rotate(359deg);
            }
        }

        @keyframes meteor-measure-opacity-change {
            0% {
                opacity: 0.0;
            }
            80% {
                opacity: 0.3;
            }
            100% {
                opacity: 1.0;
            }
        }

        img#meteor-fly {
            width: 67%;
            top: 10%;
            left: 20%;
            position: absolute;
            opacity: 0;
        }

        img#meteor-fly.is-visible {
            animation-name: meteor-fly-move, meteor-fly-shake;
            animation-duration: 2s, 1s;
            animation-iteration-count: 1, infinite;
            animation-timing-function: ease-in-out, linear;
            animation-delay: 0s, 2s;
            opacity: 1;
        }


        @keyframes meteor-fly-move {
            from {
                top: -30%;
                left: 80%;
            }
            to {
                top: 10%;
                left: 20%;
            }
        }

        @keyframes meteor-fly-shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }
            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }
            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }
            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }
            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }
            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }
            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }
            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }
            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }
            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }
            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }
        
        
        img#data-vis-title {
            width: 47%;
            top: 14%;
            left: 40%;
            position: absolute;
            opacity: 0;
        }

        img#data-vis-title.is-visible {
            animation-name: data-vis-title-opacity-zero, data-vis-title-opacity-change;
            animation-duration: 2s, 1s;
            animation-timing-function: ease-in-out, linear;
            animation-delay: 0s, 2s;
            opacity: 1;
        }
        
        @keyframes data-vis-title-opacity-zero {
            0% {
                opacity: 0.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        
        @keyframes data-vis-title-opacity-change {
            0% {
                opacity: 0.3;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        div#process-img-container {
            height: 57vh;
            background-color: #07283f !important;
            position:relative;
            /* parent: relative, child nodes: absolute is a must.
            or else the process12345 will find the previous parent node that defines relative, 
            or following the default setting of static(position the pics at the topmost location) */
        }
        
        img#process1 {
            width: 100%;
            position: absolute;
            top: 5%;
            left: 0%;
            opacity: 0;
        }

        img#process1.is-visible {
            animation-name: process1-opacity-change;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            opacity: 1;
        }
        
        @keyframes process1-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        img#process2 {
            width: 100%;
            position: absolute;
            top: 5%;
            left: 0%;
            opacity: 0;
        }
        
        img#process2.is-visible {
            animation-name: process2-opacity-zero, process2-opacity-change;
            animation-duration: 1s, 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s, 1s;
            opacity: 1;
        }
        
        @keyframes process2-opacity-zero {
            0% {
                opacity: 0.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        
        @keyframes process2-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        img#process3 {
            width: 100%;
            position: absolute;
            top: 5%;
            left: 0%;
            opacity: 0;
        }
        
        img#process3.is-visible {
            animation-name: process3-opacity-zero, process3-opacity-change;
            animation-duration: 2s, 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s, 2s;
            opacity: 1;
        }
        
        @keyframes process3-opacity-zero {
            0% {
                opacity: 0.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        
        @keyframes process3-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        img#process4 {
            width: 100%;
            position: absolute;
            top: 5%;
            left: 0%;
            opacity: 0;
        }
        
        img#process4.is-visible {
            animation-name: process4-opacity-zero, process4-opacity-change;
            animation-duration: 3s, 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s, 3s;
            opacity: 1;
        }
        
        @keyframes process4-opacity-zero {
            0% {
                opacity: 0.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        
        @keyframes process4-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        img#process5 {
            width: 100%;
            position: absolute;
            top: 5%;
            left: 0%;
            opacity: 0;
        }
        
        img#process5.is-visible {
            animation-name: process5-opacity-zero, process5-opacity-change;
            animation-duration: 4s, 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s, 4s;
            opacity: 1;
        }
        
        @keyframes process5-opacity-zero {
            0% {
                opacity: 0.0;
            }
            100% {
                opacity: 0.0;
            }
        }
        
        @keyframes process5-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        div#final-img-container {
            height: 100vh;
            overflow:visible;
            position: relative;
        }

        img#whole {
            position: absolute;
            top: 7%;
            left: 7%;
            opacity: 0;
        }

        img#whole.is-visible {
            animation-name: whole-fly;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            opacity: 1;
        }

        @keyframes whole-fly {
            from {
                top: -60%;
                left: 80%;
            }
            to {
                top: 7%;
                left: 7%;
            }
        }

        img#zoom-out {
            position: absolute;
            top: 7%;
            left: 7%;
            opacity: 0;
        }

        img#zoom-out.is-visible {
            animation-name: zoom-out-opacity-change;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            opacity: 1;
        }

        @keyframes zoom-out-opacity-change {
            0% {
                opacity: 0.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }


        img#specific {
            position: absolute;
            top: 7%;
            left: 7%;
            opacity: 0;
        }

        img#specific.is-visible {
            animation-name: specific-fly;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            opacity: 1;
        }

        @keyframes specific-fly {
            0% {
                top: -60%;
                left: 80%;
            }
            50% {
                top: -60%;
                left: 80%;
            }
            100% {
                top: 7%;
                left: 7%;
            }
        }